

room-list {
    display: block;
    margin: 2vh;
    height: 92vh;
    border: 0.15vh solid black;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3);
}

room-list > item {
    display: block;
    height: 3vh;
    font-size: 2vh;
    background-color: rgba(240, 240, 240, 1);
    border-bottom: 0.2vh solid rgba(0, 0, 0, 0.2);
    padding: 1vh;
}
